@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(38, 38, 38);
}

article {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 41px;
    width: 37%;
    height: 64%;
    margin-top: -43px;
    margin-bottom: 41px;
    box-shadow: 1px 1px 25px -3px #1d0dca17;
    background-color: white;
}

form{
  padding-top: 45px;
    text-align: center;
    width: 455px;
    border-radius: 45px;
}

main form h1{
      margin-top: 116px;
  text-align: center;
   font-size: 30px;
   font-family: 'Roboto';
   color: black;
}

main form .box{
  width: 82%;
    padding: 23px 14px;
    font-size: 18px;
    margin: 12px;
    border: 2px solid #c0c0c0;
    color: #6d6d6d;
    border-radius: 14px;
    font-weight: 500;
    font-family: 'Roboto';
}

main form p{
  margin-top: 24px;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Roboto';

}

main form p a{
  color: #edaa6b;
}

main form p a:hover{
   text-decoration: underline;
}

.errore {
    border-color: red;

}

.errore::placeholder {
    color:red;
}

input {
    background-color: rgba(211, 211, 211, .4);
    width: 100%;
    height: 46px;

}

input:hover {
    background-color: white;
}

input:focus {
    background-color: white;
    outline: none;
}


.row {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* -------------- */

.btn,
.delete-btn{
  width: 100%;
    height: 15%;
    display: block;
    cursor: pointer;
    font-size: 20px;
    margin-top: 25px;
    margin-left: auto;
    border: 2px solid white;
    box-shadow: 1px 1px 25px -3px #1d0dca17;
    text-align: center;
    background-color: #edaa6b;
    color: #ffffff;
    border-radius: 74px;
    font-weight: 500;
  }

.btn:hover{
  background-color: #F6F9FE;
  color: #3c4043;
  box-shadow: 10px 10px 25px 0 #1d0dca17;
}
